<launch>
    <arg name="mock_tmr" default="false"/>
    <arg name="ip" default="127.0.0.1"/>
    <arg name="ip_arg" value="$(eval '--ip ' + arg('ip') if arg('mock_tmr') else '')"/>
    <node pkg="tm_robot_listener" type="tm_robot_listener_node" name="tm_robot_listener" output="screen" args="$(arg ip_arg)">
        <rosparam param="listener_handles">["tm_error_handler::TMErrorHandler"]</rosparam>
    </node>
</launch>